{% extends 'baseFront.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1>Create new Reclamation</h1>
    {%  form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('reclamation_index') }}">back to list</a>
{% endblock %}
